*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: inherit;
}
html{
    font-size: 100%; 
    font-family: sans-serif;
    line-height: 1.4rem;
    color:$on-background;
    background:$background;

    @include respond(tab-land){
        font-size:90%; 
    }
    @include respond(tab-port){
        font-size:85%; 
    }
    @include respond(big-desktop){
        font-size:100%;
    }
}
body{
    box-sizing: border-box;
}



