
<h1 class="text-center m-3 " >Youtube <br/>  Downloader</h1>
<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="form">
<div class="container m-3">
    <div class="card-title text-center">
        <small class="text-left">Config</small>
        <div class="folder-input-container">
            <button class="button cell" type="button"
                (click)="triggerInputDir()"
            >
                Carpeta de salida
            </button>
            <input type='text' class="input cell"
                formControlName="output"
                readonly
            >
            
        </div>
    </div>
    
    <div>
        <small class="text-left">URL Descarga</small>
        <input class= "input url" type="text" placeholder="URL"
            formControlName="url"
        >

        <button class="button submit" type="button"
            (click)="submit()"
            [ngClass]="{'surface-error': downloading}"
            [disabled]="form.invalid"
            
        >{{downloading ? "Cancelar" : "Descargar"}}</button>
    </div>

    <div class="card m-1" *ngIf="metadata">
        <div class="card-title text-left">
            <h4>Información de descarga:</h4>
        </div>
        
        <div class="card-body text-left">
            <p><strong>Titulo:</strong> {{metadata.title}}</p>
            <p><strong>Descripción:</strong> 
                {{metadata.description}}
            </p>
            <p><strong>calidad:</strong> 
                {{metadata.formats[0].quality}}
            </p>
            <p><strong>Tamaño:</strong>
                {{metadata.formats[0].size}} MB
            </p>
        </div>
    </div>

    <div class="progress">
        <div class="progress-container" 
            *ngIf="downloading || dlComplete"
        >
            <div class="progress-bar"
                [ngStyle]="{width: progress+'%'}" 
            >
                {{progress}}%
            </div>
        </div>
    </div>
</div>

</form>
<app-loader-spinner *ngIf="busy"></app-loader-spinner>