.card{
    padding:0 2em;
    margin: 0 1rem;

    background-color: $surface;
    color:$on-surface;

        
    @include elevation-1;
    @include round-medium;

    &-title{
        margin: 1rem 0;
    }
    &-body{
        padding:0.5rem;
    }
    &-footer{
        margin:0.5rem 0;
        margin-bottom: 0;
    }
}
