.input{
    padding: 0.5rem 1rem;
    
    border: solid gray 1px;
    
    @include round-small;
    
    &:focus{
        border-color: $primary;
    }
    &:invalid{
        border-color: $error;
    }
}